---
http_interactions:
- request:
    method: get
    uri: https://api.trello.com/1/members/me
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="f254c01ab928b3aa6e9dc8e6084a8b43", oauth_nonce="cdd4c4f6a123059c8ccc1865f066ffac",
        oauth_signature="jK%2B%2BkyirsoqIJBuDBnnhHaWT5Bs%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1377608549", oauth_token="fbee90bdb3bf1289d18e4b2efbe5101ec6528c558fd29b66e10392933d73563a",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Server-Time:
      - '1377608540684'
      Content-Type:
      - application/json
      Etag:
      - ! '"-1576660337"'
    body:
      encoding: US-ASCII
      string: ! '{"id":"51487b8b482d0fae5e0017ee","avatarHash":"8ada34fcfeae0ccc20fdbfea7c448a0d","bio":"","bioData":null,"confirmed":true,"fullName":"Dustin
        Moore","idPremOrgsAdmin":[],"initials":"DM","memberType":"normal","products":[],"status":"disconnected","url":"https://trello.com/dustinmoore1","username":"dustinmoore1","avatarSource":"gravatar","email":"dustinmoore@gmail.com","gravatarHash":"6865ad4c94c6f56b0fda941ab2f99a62","idBoards":["51487b8c482d0fae5e0017ef","51487b99397e4bf63b003cf4","51978b9ac3213aea6500c19a","51bb2b5632359a481e002a22","51d6d0ca27a305fa5300590a","51dc27e657a87e564f000d28","51e2bda15b27816835003506","520830fe31e17ec7620011ef","521248f3819c6e447f009cc2"],"idBoardsInvited":[],"idBoardsPinned":["51487b8c482d0fae5e0017ef","51487b99397e4bf63b003cf4","51978b9ac3213aea6500c19a","51bb2b5632359a481e002a22","51d6d0ca27a305fa5300590a","51dc27e657a87e564f000d28","51e2bda15b27816835003506","520830fe31e17ec7620011ef","521248f3819c6e447f009cc2"],"idOrganizations":[],"idOrganizationsInvited":[],"loginTypes":["google","password"],"newEmail":null,"oneTimeMessagesDismissed":[],"prefs":{"timezoneInfo":{"timezoneNext":"CST","dateNext":"2013-11-03T07:00:00.000Z","offsetNext":360,"timezoneCurrent":"CDT","offsetCurrent":300},"sendSummaries":true,"minutesBetweenSummaries":60,"minutesBeforeDeadlineToNotify":1440,"colorBlind":false},"trophies":["iOS"],"uploadedAvatarHash":null}'
  recorded_at: Tue, 27 Aug 2013 13:02:30 GMT
- request:
    method: get
    uri: https://api.trello.com/1/members/51487b8b482d0fae5e0017ee/boards?closed=false&filter=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="f254c01ab928b3aa6e9dc8e6084a8b43", oauth_nonce="39aa7909cff188045e086f4fec0ce0b6",
        oauth_signature="OjfCiL%2Bigk9wV4UFcysgbvHzewE%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1377608550", oauth_token="fbee90bdb3bf1289d18e4b2efbe5101ec6528c558fd29b66e10392933d73563a",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Server-Time:
      - '1377608541124'
      Content-Type:
      - application/json
      Etag:
      - ! '"784535615"'
    body:
      encoding: US-ASCII
      string: ! '[{"id":"521248f3819c6e447f009cc2","name":"Beer Food Lodging","desc":"","descData":null,"closed":false,"idOrganization":null,"invited":false,"pinned":true,"url":"https://trello.com/b/qlJ0ZlhF/beer-food-lodging","prefs":{"permissionLevel":"private","voting":"disabled","comments":"members","invitations":"members","selfJoin":false,"cardCovers":true,"background":"blue","canBePublic":true,"canBeOrg":true,"canBePrivate":true,"canInvite":true},"invitations":[],"memberships":[{"id":"521248f3819c6e447f009cc6","idMember":"521248e0a8707ad941005db5","memberType":"admin","deactivated":false,"unconfirmed":false},{"id":"5213cd0acae51ccc14000e09","idMember":"51487b8b482d0fae5e0017ee","memberType":"normal","deactivated":false,"unconfirmed":false}],"shortLink":"qlJ0ZlhF","subscribed":false,"labelNames":{"red":"","orange":"","yellow":"","green":"","blue":"","purple":""},"powerUps":[],"dateLastActivity":"2013-08-20T20:09:34.946Z","dateLastView":null,"shortUrl":"https://trello.com/b/qlJ0ZlhF/beer-food-lodging"},{"id":"51d6d0ca27a305fa5300590a","name":"Beer
        League on rails","desc":"","descData":null,"closed":false,"idOrganization":null,"invited":false,"pinned":true,"url":"https://trello.com/b/VmwlBMBI/beer-league-on-rails","prefs":{"permissionLevel":"private","voting":"disabled","comments":"members","invitations":"members","selfJoin":false,"cardCovers":true,"background":"blue","canBePublic":true,"canBeOrg":true,"canBePrivate":true,"canInvite":tr[...]
