---
http_interactions:
- request:
    method: get
    uri: https://api.trello.com/1/boards/521248f3819c6e447f009cc2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="f254c01ab928b3aa6e9dc8e6084a8b43", oauth_nonce="c7dd42f9a0892725d12fed68d1993b0d",
        oauth_signature="2gs1bzw2dq3nXBG4%2FKb6Vxu1xkk%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1379895858", oauth_token="fbee90bdb3bf1289d18e4b2efbe5101ec6528c558fd29b66e10392933d73563a",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Server-Time:
      - '1379895855191'
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"id":"521248f3819c6e447f009cc2","name":"Beer Food Lodging","desc":"","descData":null,"closed":false,"idOrganization":null,"pinned":true,"url":"https://trello.com/b/qlJ0ZlhF/beer-food-lodging","shortUrl":"https://trello.com/b/qlJ0ZlhF","prefs":{"permissionLevel":"private","voting":"disabled","comments":"members","invitations":"members","selfJoin":false,"cardCovers":true,"backgroundColor":"#205C7E","backgroundImage":null,"backgroundImageScaled":null,"bg":"blue","canBePublic":true,"canBeOrg":true,"canBePrivate":true,"canInvite":true},"labelNames":{"red":"","orange":"","yellow":"","green":"","blue":"","purple":""}}'
  recorded_at: Mon, 23 Sep 2013 00:24:19 GMT
- request:
    method: get
    uri: https://api.trello.com/1/boards/521248f3819c6e447f009cc2/lists?closed=false&filter=open
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="f254c01ab928b3aa6e9dc8e6084a8b43", oauth_nonce="9adce03e94ed4940c8a71950abba7ebc",
        oauth_signature="jIzmTELlZmN%2F0em3doMvpWKWMd0%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1379895859", oauth_token="fbee90bdb3bf1289d18e4b2efbe5101ec6528c558fd29b66e10392933d73563a",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Server-Time:
      - '1379895855613'
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '[{"id":"521248f3819c6e447f009cc3","name":"To Do","closed":false,"idBoard":"521248f3819c6e447f009cc2","pos":16384,"subscribed":false},{"id":"521248f3819c6e447f009cc4","name":"Doing","closed":false,"idBoard":"521248f3819c6e447f009cc2","pos":32768,"subscribed":false},{"id":"521248f3819c6e447f009cc5","name":"Done","closed":false,"idBoard":"521248f3819c6e447f009cc2","pos":49152,"subscribed":false}]'
  recorded_at: Mon, 23 Sep 2013 00:24:19 GMT
recorded_with: VCR 2.5.0
