- if user_signed_in?
    %li= "Logged in as #{current_user.name}"
    %li= link_to "Logout", logout_path
- else
    %li= link_to "Authenticate with Evernote and Trello", user_omniauth_authorize_path(:evernote)
