%h2.reauthenticate_head Busylife is no longer authorized to access your Evernote account.
%h4.reauthenticate_subhead Click below to re-authorize Busylife for one year

= link_to 'Click here to reauthenticate', "/users/auth/#{@provider}", class: "reauthenticate_link"